 .hero{
    height:100vh;
    background:linear-gradient(180deg, #fde1ff,#e1ffea22 60%);
    display:flex;
    overflow:hidden
 }
 .hero-left{
    flex:1;
    display:Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-left:180deg;
    text-transform:capitalize
    
 }
 .hero-left h2{
    font-size:26px;
    font-weight:bold;
    color:#090909;
   
 }
 .hero-left p{
    color:#171717;
    font-size:80px;
    font-weight:bold
 }
 .hand-hand-icon{
    display:flex;
    align-items: center;
    gap:20px;
 }
 .hand-hand-icon img{width:105px}
 .hero-lastest-btn{
display:flex;
justify-content: center;
align-items: center;
gap:15px;
width:310px;
height:70px;
border-radius:75px;
margin-top:30px;
background:#ff4141;
color:#fff;
font-size:18px;
font-weight:normal;
 }
 .hero-right{
    flex:1;
    display:Flex;
    align-items: center;
    justify-content: center;
    
 }